/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
    font-family: "Lato", sans-serif;
}
/* sidebar*/
.sidenav {
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 25px;
    left: 0px;
    /*background: lightgray;*/
    /*overflow-x: hidden;*/
    padding: 8px 0;
    height:100%;
    background-blend-mode: overlay, normal;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(rgba(230, 230, 230, 0.3), rgba(230, 230, 230, 0.3));
    box-shadow: 1px 0 1px 0 rgba(74, 74, 74, 0.24);
}
.bound{
    height: 1px;
    background-color: #d8d8d8;
}


/*@media screen and (max-height: 450px) {*/
    /*.sidenav {padding-top: 15px;}*/
    /*.sidenav a {font-size: 18px;}*/
/*}*/
.mini_cal {
    width: 219px;
    position: fixed;
    z-index: 1;
    /*left: 3px;*/
    /*background: lightgray;*/
    overflow-x: hidden;
    /*padding: 2px 0;*/
    bottom:0px;
}
.month {
    /*position: fixed;*/
    padding: 5px 10px;
    /*width: 89%;*/
    /*left: 3px;*/
    /*background: #1abc9c;*/
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
    /*top: 400px;*/

}

.month ul li {
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #252624;
}

.month .prev {
    float: left;
    padding-top: 10px;
    color: #252624;
}

.month .next {
    float: right;
    padding-top: 10px;
    color: #252624;
}
.weekdays_table{
    width:100%;
    text-align:center;
}
.weekdays_table th, td {
    padding: 1px 5px;
}
.weekdays_table th{

}

.weekdays{
    display: block;
    width: 20px;
    height:20px;
    border-radius: 10px;
    margin: 3px 0px;
    /*line-height: 20px;*/
    /*font-size:14px;*/
    opacity: 0.59;
    font-family: HelveticaNeue;
    font-size: 8px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #949494;
    /*background-color: #dddddd;*/
    /*background-color: lightgray;*/
}


.circle{
    display: block;
    width: 20px;
    height:20px;
    border-radius: 10px;
    margin: 3px 0px;
    /*line-height: 20px;*/
    /*background-color: #dddddd;*/
    /*background-color: lightgray;*/
    font-size: 12px;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: -0.7px;
    text-align: center;
    color: #717171;

}
.circle.red{
    background-color : red;
    color:white;
}
.circle.out{
    /*background-color:#1abc9c;*/
    /*background-color: lightgray;*/
    color: #cdcdcd;

}
.next{
    cursor:pointer;
}
.prev{
    cursor: pointer;
}
.accounts{
    color:gray;
    /*font-size: 10pt;*/
    padding: 3px;
    left:5px;
    overflow: hidden;
    width : 219px;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: SFUIText;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #575757;
}
.calendars li{
    padding:2px;
    overflow: hidden;
    width : 219px;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: SFUIText;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #575757;
}
.calendars_list{
    overflow-y:auto;
    max-height:500px;
    height:100% !important;
}
.topbar{
    width:100%;
    height: 25px;
    background:linear-gradient(to bottom, #e7e6e7, #d1d0d1);
    position:fixed;
    top:0;
}
.button {
    /*!*background-color: #4CAF50; !* Green *!*!*/
    /*!*border: none;*!*/
    /*!*color: white;*!*/
    /*top:10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 12px;*/
    cursor: pointer;
    font-family: SFUIText;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #262626;
}
.hide_cal_button{
    margin: 3px 10px;
    /*padding: 4px 40px;*/
    width:130px;
    left:10px;
}
.choose_view_buttons{
    position:absolute;
    top:3px;
    left:50%;
}
.topbar input[type=text] {
    top:3px;
    float: right;
    /*padding: 6px;*/
    border: none;
    margin-top: 3px;
    margin-right: 16px;
    font-size: 12px;
    width: 140px;
    /*height: 22px;*/
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #fefefe, #f1f1f1);
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.5px rgba(0, 0, 0, 0.1);
}
}
.content_head{
    top:25px;
    /*height:94px;*/
    height: 85px;
    /*position:fixed;*/
    /*top:15px;*/
    /*width: 66px;*/
    /*height: 32px;*/
    font-family: HelveticaNeue;
    font-size: 26px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    /*text-align: center;*/
    color: #1d2022;
}
.content_buttons{
    /*top:25pt;*/
    margin-top: 35px;
    float:right;
    /*left:92%;*/
}
.view_next{
    /*left:96%;*/
    margin: 0px 10px;
    margin-top: 35px;
}
.view_prev{
    /*left:90%;*/
    margin: 0px 10px;
    margin-top: 35px;
}
.view_date{
    line-height: 90px;
    margin-left: 225px;
    font-size: 23pt;
    font-color:red;
}
.view{
    margin-left:225px;
    height:667px;
    /*overflow: hidden;*/
}
.year_view{
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap:8px;
    /*grid-template-columns: 250px 250px 250px 250px ;*/
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 19px 191px 19px 191px 19px 191px;
    /*grid-template-columns: auto auto auto;*/
    /*background-color: #2196F3;*/
    /*padding: 5px;*/
    /*margin:33px 3px;*/
    margin: 0px 3px;
}
.year_view .weekdays_table th, td{
    padding: 0px 5px;
}

.year_view .weekdays_table .circle{
    background-color: white;
}
.year_view .weekdays_table .circle.red{
    background-color : red;
    color:white;
}

.month_in_year {
    /*background-color: rgba(255, 255, 255, 0.8);*!*/
    border: 1px hidden rgba(0, 0, 0, 0.8);
    padding: 10px;
    /*font-size: 30px;*/
    text-align: center;

}

.year_view_month{
    font-family: 'HelveticaNeue',serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #e30613;
    text-transform: lowercase;
    padding-left: 5px;
}
